{% extends 'base.html' %}
{% block title %}Chara Question{% endblock %}

      {% block contents %}
      <br>
      <div class="container">
        <div class="row">
            <div class="col offset-3">
                <form method="POST">

                    <br>
                    <h3 style="color: rgb(216, 48, 48);">本当にこの子とお別れしますか?</h3>
                    {% csrf_token %}
                    <button class="btn btn-primary my-2" type="submit">お別れする</button>
                    <a href="{% url 'chara:chara_after' %}" class="btn btn-secondary my-2">やめる</a>
            </div>
        </div>
      </div>
      {% endblock %}